.education {
    background: #615745;
    color: #201e1a;
}

.education-container {
    display: grid;
    max-width: 75rem;
    min-width: 200px;
    margin: 0 auto;
    padding: 4.5rem 1.25rem;
    grid-template-columns: 1fr 2fr;
    gap: 6.25rem;
    position: relative;
}

.education-container .bold {
    color: #3b3324;
}

.education-container::after {
    content: '';
    position: absolute;
    display: block;
    height: 8.125rem;
    width: 8rem;
    background: url("../img/detalhe.svg");
    bottom: -4rem;
    left: 1rem;
}

.education-title {
    font-size: 8rem;
    padding: 0 2rem 2rem 0;
    max-width: 5ch;
    text-transform: uppercase;
    word-break: break-all;
    color: #201e1a;
    line-height: 1;
}

.education-text {
    padding: 0;
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
    margin-right: 9rem;
    line-height: 2rem;
    color: #b8b8a1;
}

.education-text strong {
    color: #201e1a;
}

.education-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    margin-bottom: 3.75rem;
    padding: 20px;
}

.education-items li {
    flex: 1;
    background: #eeeed3;
    padding: 1.25rem;
    font-size: 1.15rem;
    display: flex;
    border-radius: 0.25rem;
    flex-direction: column;
    position: relative;
}

.education-items .bold::before {
    content: '';
    position: absolute;
    display: block;
    width: 0.25rem;
    height: 1.3rem;
    background: repeating-linear-gradient(#b8b8a1, #201e1a);
    left: -0.25rem;
    top: 3.2rem;
}

.university-type {
    margin-bottom: 0.7rem;
    font-size: 0.9rem;
    font-weight: normal;
    color: #342e1f;
}

.university-institution {
    color: #342e1f;
}

.education-items li p {
    margin-bottom: 2.5rem;
    line-height: 1.5rem;
    flex: 1;
}

.education-course {
    margin-bottom: 3.5rem;
    line-height: 2rem;
}

.education-language {
    line-height: 2rem;
}

.education-course span, .education-language span {
    color: #181614;
}

.education-course h3 {
    position: relative;
    color: #201e1a;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.education-course h3::before {
    background: url("../img/cursos.svg");
    content: '';
    display: block;
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    left: -2rem;
}

.education-course ul, .education-language ul {
    padding: 0;
    margin: 0;
}

.education-course li {
    display: flex;
    justify-content: space-between;
    font-size: 1.12rem;
    line-height: 2.7rem;
}

.hours {
    color: #201e1a;
}

.education-language h3 {
    position: relative;
    color: #201e1a;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.education-language h3::before {
    background: url("../img/idiomas.svg");
    content: '';
    display: block;
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    left: -2rem;
}

.education-language li {
    font-size: 1.12rem;
    line-height: 2.7rem;
}

@media (max-width: 800px) {
    .education-container {
        grid-template-columns: 1fr;
        gap: 40px;
        padding: 2.5rem 1.25rem;
    }

    .education-title {
        font-size: 3rem;
        text-transform: capitalize;
        color: #eeeed3;
        padding: 0;
        word-break: normal;
    }

    .education-text {
        font-size: 1.3rem;
        line-height: 1.5rem;
        margin-right: 0;
    }

    .education-items {
        flex-wrap: nowrap;
        margin-bottom: 5rem;
    }

    .education-course h3::before {
        left: 0;
        top: -1.4rem;
    }

    .education-language h3::before {
        left: 0;
        top: -1.4rem;
    }

    .education-language {
        margin-bottom: 3rem;
    }
}

@media (max-width: 650px) {
    .education-container {
        grid-template-columns: 1fr;
        gap: 40px;
        padding: 2.5rem 1.25rem;
    }

    .education-items {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .education {
        grid-template-columns: 1fr;
    }

    .education-container {
        grid-template-columns: 0.8fr;
        gap: 20px;
        padding: 1.5rem .5rem;
    }

    .education-items {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}
